* {
    font-family: 'Rubik', sans-serif;
  }
  
  #side-bar-wrap {
    background-color: #ffffff;
    transition: all 0.3s;
    position: fixed;
    width: 340px;
  
    .side-bar-content {
      display: flex;
      flex-direction: column;
  
      .side-bar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        cursor: pointer;
        height: 50px;

        .rest-info {
          display: flex;
          align-items: center;
          padding-left: 15px;
  
          .restaurant-img {
            width: 28px;
            height: 28px;
          }
  
          .rest-info-text {
            margin-left: 5px;
            
            .rest-title {
              font-size: 14px;
              color: #BFBFBF;
              font-weight: 400;
            }
  
            .rest-name {
              font-size: 16px;
            }
          }
        }
      }
  
      .menu-items {
        width: 180px;
        display: block;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 65px);
  
        .menu-item {
          width: 90%;
          height: 45px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          margin-left: 10px;
          cursor: pointer;
          padding-left: 10px; 
  
          * {
            pointer-events: none;
          }
  
          .item-icon {
            width: 15px;
            height: 15px;
            margin-right: 16px;
          }
        }
      }
    }
  }
  

  
  // .dropdown {
  //   position: relative;
  //   display: inline-block;
  
  //   .arrow-down {
  //     border-right: 1px solid black;
  //     border-bottom: 1px solid black;
  //     width: 0.5rem;
  //     height: 0.5rem;
  //     transform: rotate(45deg);
  //   }
  
  //   .arrow-top {
  //     transform: rotate(-140deg);
  //   }
  
  //   .dropdown-content {
  //     display: none;
  //     background-color: #ffffff;
  //     min-width: 24rem;
  //     position: absolute;
  //     left: -21.5rem;
  //     top: 4rem;
  //     font-size: 1.8rem;
  
  //     div {
  //       padding: 12px;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //     }
  
  //     a {
  //       color: black;
  //       text-decoration: none;
  //     }
  
  //     div:hover{
  //       background-color: #FAFAFA;
  //       border-left: 4px solid #424154;
  //     }
  
  //     div:active {
  //       background-color: #424154;
  //       color: #FFF;
  //     }
  //   }
  
  //   .show {
  //     display:block;
  //     background-color: #ffffff;
  //     min-width: 24rem;
  //     position: absolute;
  //     top: 4rem;
  //     left: -21.5rem;
  //     font-size: 1.8rem;
  //   }
  // }
  
  .menu-item-wrap {
    width: 180px;
    overflow: hidden;
    transition: all .2s;

    &:hover{
      background-color: #FAFAFA;
      border-left: 4px solid #424154;
      border-radius: 3px;
    }
    &.current{
      background-color: #FAFAFA;
      border-left: 4px solid #424154;
      border-radius: 3px;
    }

    &.editor{
      .menu-item{
        background: #424154; 
        border-radius: 2px;
        color: #fff;
      }

    }
  }

  
  .sec-sb-menu-items {
    height: 0px;
    text-align: center;
  }
  
  .sec-sb-menu-items a {
    display: block;
    padding: 8px 0;
    color: #4F4D59;
    text-decoration: none;
    font-size: 15px;
    transition: all .2s ease-in-out;
  
    &:hover {
      color: #424154;
    }
  
    &.active {
      color: #424154;
    }
  }
  
  .side-bar-footer {
    width: 180px;
    height: 50px;
    justify-self: flex-end;
    background-color: #4F4D59;
    color: #D8D8DB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    left: 0;
  }

.sec-side-bar-wrap {
  width: 160px;
  height: calc(100vh - 65px);
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: #4F4D59;
  display: block;
  background-color: #fafafa;
  position: relative;
  top: -66px;

  .sec-sb-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    position: relative;
    z-index: 2;
    color: #BFBFBF;
    height: 50px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

    //  img {
    //    width: 2rem;
    //    height: 2rem;
    //    margin: 0 1.2rem 0 2.4rem;
    //  }
    //
    .header-title {
      white-space: nowrap;
      overflow: hidden;
      // padding-right: 1.7rem;
      text-overflow: ellipsis;
    }
  }

  .sec-sb-menu-items {
    width: 100%;
    height: auto;
    //display: block;

    a {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #4F4D59;
      cursor: pointer;
    }

    a:hover, a:active, a.active {
      background-color: #E7F0F4;
      color: #424154;
    }
  }
}

.section {
  display: flex;
}

.box {
  display: none;
}

.box.visible {
  display: block;
}