.mat-drawer-container{
    position: relative;
    top: 65px;
    height: calc(100vh - 122px);
}
.example-sidenav{
    width: 250px;
}
.tab_links{
    display: flex;
    margin-left: 100px;
}
.info-block {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9;
    top: 75px;

    button {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    img {
        margin: 0 7px; 
        width: 32px;
        height: 32px;
    }
    div {
        font-weight: 500;
        font-size: 15px;
    }
}

.example-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }