<app-header></app-header>
<nav class="header-navigation">

  <div class="tab_links">
    <a routerLinkActive="active" routerLink="income">Поступления</a>
    <a routerLinkActive="active" routerLink="in-shop">В Магазине</a>
    <a routerLinkActive="active" routerLink="photo">Запрос на Фото</a>
    <a routerLinkActive="active" routerLink="delivery">На Доставке</a>
    <a routerLinkActive="active" routerLink="photograph">У Фотографа</a>
    <a routerLinkActive="active" routerLink="defect">Брак</a>
  </div>
</nav>

<router-outlet></router-outlet>
